# backup, swap
*.swp
*~
*.bak

# macOS
.DS_Store
Icon[]

# vim
vim/.vim/colors/*
vim/.vim/pack/*
vim/.vim/spell/*

# nvim
.config/nvim/**/packer_compiled.lua
.config/nvim/**/.luarc.json

# Homebrew
Brewfile.lock.json

# test
test/*

# private configurations
private.*
*.private
*.private.*

# keep
!.keep
