# backup, swap
*.swp
*~
*.bak

# macOS
.DS_Store
Icon[]

# vim
vim/.vim/colors/*
vim/.vim/pack/*
vim/.vim/spell/*

# nvim
nvim/**/.luarc.json
# nvim/lazy-lock.json
nvim/spell/*

# Homebrew
Brewfile.lock.json

# kitty
kitty/kitty.app.icns
kitty/backgrounds

# lazygit
lazygit/state.yml

# httpie
httpie/version_info.json

# test
test/*

# private configurations
private.*
*.private
*.private.*

# keep
!.keep
